body{
    background-image: url("../images/background.jpg");
    background-repeat: repeat;
    background-attachment: fixed;
}

#gameover{
    position:absolute;
    display:none;
    top: 25%;
    left:25%;
    width: 50%;
}

#nowplayingimage{
    width:75px;
}

#backto90s{
    display:block;
    width:170px; 
    margin:0px auto;
    margin-bottom:-5px;
}
#start{
    text-decoration: underline; 
    color:red;
    font-size:60px;
    background-color: black;
}

#bottom{
    width: 450px;
    margin:0 auto;
    padding: 10px;   
    background-color: black;
    border-radius: 10px;
}
.container{
    margin: 0 auto;
}

h1{
    margin-bottom:0;
}

.jumbotron{
    margin-top:0;
    background-color: black;
    padding:5px;
}

.jumbotron p{
   font-size: x-large;
}

h1,
h2,
p{
    font-family: "Comic Sans MS", "Comic Sans";
    color: yellow;
    text-align:center;
}

.field{
    background-color: black;    
    padding:0;
    width:50%;
    margin: 0 auto;
}

.game{
    background-color: gray; 
    color: black;
    text-align: center;
    padding:0;
    min-height:300px;
}
#leftcol{
    max-width: 180px;
}

#hangmanpicture{
    position:relative;
    margin: 0 auto;
}

#post{
    position:absolute;
    top:50px;
    left:50px;
    width:4px;
    height:135px;
    border: 2px solid yellow;
    opacity:0.1;
}


#topcrook{
    position:absolute;
    top:50px;
    left:50px;
    width:80px;
    height:4px;
    border: 2px solid yellow;
    opacity:0.1;
}

#noose{
    position:absolute;
    top:50px;
    left:130px;
    width:4px;
    height:20px;
    border: 2px solid yellow;
    opacity:0.1;
}


#head{
    position: absolute;
    top: 70px;
    left:110px;
    width:50px;
    height:50px;
    border-radius: 50%;
    border: 5px solid yellow;
    opacity:0.1;
}

#body{
    position: absolute;
    top: 120px;
    left:130px;
    width:6px;
    height:40px;
    border: 3px solid yellow;
    opacity:0.1;
}

#leftarm{
    position: absolute;
    top: 135px;
    left:110px;
    width:25px;
    height:6px;
    border: 3px solid yellow;
    opacity:0.1;
}

#rightarm{
    position: absolute;
    top: 135px;
    left:130px;
    width:25px;
    height:6px;
    border: 3px solid yellow;
    opacity:0.1;
}

#rightleg{
    position: absolute;
    top: 165px;
    left:130px;
    width:25px;
    height:6px;
    border: 3px solid yellow;
    transform: rotate(45deg);
    opacity:0.1;
}

#leftleg{
    position: absolute;
    top: 165px;
    left:110px;
    width:25px;
    height:6px;
    border: 3px solid yellow;
    transform: rotate(135deg);
    opacity:0.1;
}

#deadeye1{
    position: absolute;
    display:none;
    top: 68px;
    left:120px;
    color: red;
    font-size: xx-large
}

#deadeye2{
    position: absolute;
    display:none;
    top: 68px;
    left:140px;
    color: red;
    font-size: xx-large
}